<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Know Your Vote</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fahkwang|Montserrat:300" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/reset.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/base.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/layout.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../styles/modules.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../styles/icons.css" />
</head>