<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Page Title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <link rel="stylesheet" type="text/css" media="screen" href="../styles/reset.css" /> -->
      <link rel="stylesheet" type="text/css" media="screen" href="/styles/base.css" />
       <!-- <link rel="stylesheet" type="text/css" media="screen" href="/styles/layout.css" /> -->
      <!-- <link rel="stylesheet" type="text/css" media="screen" href="../styles/modules.css" /> -->
      <!-- <link rel="stylesheet" type="text/css" media="screen" href="../styles/icons.css" /> -->
    </head>
<body>
  <header>
    <h1>this is a header</h1>
    <nav>
      <ul>
        <li>nav link</li>
        <li>nav link</li>
      </ul>
    </nav>
  </header>
  
  <main>
    <section>
      <h2>Daphne</h2>
      <p>Your Personal Political Resource</p>
    </section>
    <section>
      This is our app and this is what it does.
    </section>
    <form>
      <button>GET STARTED</button>
    </form>
  
     
  </main>
  <footer>
    <form>
      <button>Builders</button>
    </form>

  </footer>
</body>
</html>