<!DOCTYPE html>
<html>
 <%- include ../partials/head.ejs %>
<body>
  <%- include ../partials/header.ejs %>
  <main>
    <div class="page-header">
      <h2>Meet the Creators of Civic Research</h2>
    </div>
    <section id="our-team">
      <div class="personal-bio">
        <img src="/img/caity.jpg" alt="picture of Caity" />
        <p>When Caity was just a teen, she walked over 500 miles just because she could. In her spare time, she rubs elbows with roller derby girls and wears really high heals - like a boss. From her time in the food/service industry, Caity developed the most remarkable ability to connect with anyone and bring joy to their day.</p>
      </div>
      <div class="personal-bio">
        <img src="/img/blaise.jpg" alt="picture of Blaise" />
        <p>Blaise has an exquisitely defined pallet for the subtle flavors of artisan beers. When he is not rockin the code at his computer, he can be found exploring the city and dominating dance games. Blaise comes from an Electrical Engineering background where he designed complicated things that made other things work. </p>
      </div>
      <div class="personal-bio">
        <img src="/img/lena.jpg" alt="picture of Lena" />
        <p>Once upon a time, Lena lived in the land of green chili and surreal sunsets. She now resides in the wet, gray dark Pacific Northwest and wouldn't leave it for the world. When she's not yelling at broken code, she photographs her friends and family and tries to stay on her feet while refereeing jr. roller derby. She brings en eye for color, mood and composition from her previous life as a professional photographer as well as an unyielding desire to focus on the clients needs above all else. </p>
      </div>
    </section>
  </main>
  <%- include ../partials/footer.ejs %>
</body>
</html>