<!DOCTYPE html>
<html>
 <%- include ./partials/head.ejs %>
<body>
  <%- include ./partials/header.ejs %>
  <main>
    <section>
      <h2>About Us</h2>
      <p>Your Personal Political Resource Gurus</p>
    </section>
    <section>
      This is our app and this is what it does.
    </section>
    <form>
      <button>GET STARTED</button>
    </form>
  
     
  </main>
  <%- include ./partials/header.ejs %>
</body>
</html>