
body {
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
  color: black;
}

header {
  background-color: rgb(6, 5, 5);
  color: white;
  width: 100%;
  height: 6em;
  text-align: center;
}

header h1{
  font-size: 3em;
  margin-left: .5em;
  font-weight: bolder;
  padding-top: .5em;
}


nav ul li{
display: none;
}

.page-header{
  height: 3em;
  background-color: red;
  font-weight: bold;
}

.page-header h2{
  text-align: center;
  padding-top: .7em;
  font-size: 20px;
}

#intro{
  width: 80%;
  margin: 3em;
  text-align: center;
}

#intro p {
  margin-top: 1em;
}

form{
  background-color: rgb(28, 27, 27);
  color: white;
  border:6px solid navy;
  margin: 2em;
  font-size: 20px;
  padding-bottom: 2em;
}

#zip{
  margin: 1em .5em 0em .5em;
  font-size: 18px;
  text-align: center;
}
#zip input{
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 1em 0em 3em 7em;

  
}

#address{
  margin: 1em .5em 0em .5em;
  font-size: 18px;
  text-align: center;
}

#address input{
  font-size: 12px;
}

#address button{
  background-color: white;
  margin-top: 2em;
}

legend{
  font-size: 30px;
  text-align: center;
  margin-top: .3em;
}


footer ul li{
  text-decoration: none;
  color: black;
}
