
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

header {
  background-color: rgb(6, 5, 5);
  color: white;
  width: 100%;
  height: 6em;
  text-align: center;
}

header h1{
  font-size: 3em;
  margin-left: .5em;
  font-weight: bolder;
  padding-top: .5em;
  
}


nav ul li{
display: none;
}

.page-header{
  height: 3em;
  background-color: red;
  font-weight: bold;
}

.page-header h2{
  text-align: center;
  padding-top: .7em;
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
}

#intro{
  width: 80%;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

#intro p:first-of-type{
  font-size: 1.1em;
}

#intro p {
  font-size: .9em;
}
.deck{
  margin-top: 0em;
}


form{
  background-color: rgb(28, 27, 27);
  color: white;
  border:6px solid navy;
  margin: 0em 1.5em 1.5em 1.5em;
  font-size: 20px;
  padding-bottom: 2em;
}
.deck{
  display:flex;
}


#zip{
  margin: 1em .5em 0em .5em;
  font-size: 16px;
  text-align: center;
  align-content: center;
  justify-content: center;
}
#zip input{
  margin: 1em 0em 3em 0em;
  border-top: none;
  border-right:none;
  border-left:none;
  outline-offset: none;
  outline-style: none;
  overflow: scroll;
  background-color: rgb(28, 27, 27);;
  color: white;
}

#address{
  margin: 1em .5em 0em .5em;
  font-size: 18px;
  text-align: center;
  
}

#address label{
  display: flex;
  flex-direction: column;
}

#address input{
  font-size: 12px;
  border-top: none;
  border-right:none;
  border-left:none;
  outline-offset: none;
  outline-style: none;
  overflow: scroll;
  background-color: rgb(28, 27, 27);;
  color: white;
}

#address button{
  background-color: white;
  margin-top: 2em;
}

legend{
  font-size: 30px;
  text-align: center;
  margin-top: .3em;
  font-family: 'Fjalla One', sans-serif;
}

footer {
  background-color: rgb(6, 5, 5);
  color: white;
  width: 100%;
  height: 6em;
  text-align: center;
}

footer ul li a{
  text-align: center;
  margin-top: 2em;
}

