footer li {
  padding: 3em;
}

footer li a {
  color: #efefef;
  text-decoration: none
}

footer li a:hover {
  color: #fff;
}

header {
  background-image: url("../img/vote.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 18em;
}

header h1 {
  color: gray;
}

nav {
  position: absolute;
  top: 1em;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a {
  text-decoration:none;
  font-size: 1.5em;
  color: rgb(59, 58, 58);
}

nav ul li a:hover {
  color: rgb(172, 170, 170);
}

form select {
  margin-top: 1em;
}

#repdeck {
  border: 2px solid gray;
  padding: 1em;
  min-height: 24em;
}

#repdeck ul li img {
  width: 2em;
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}

#repdeck #imgcard {
  margin: 0;
  width: 100%;
  padding-bottom: 1em;
}

#funding-chart iframe {
  display: none !important;
  overflow: hidden;
  position: relative !important;
  pointer-events: none;
  z-index: -1;
  height: 100%;
  width: 100%;
}

#funding p {
  background-color: gray;
  padding: .6em;
}

#fundingChart {
  position: relative;
    height: 100%;
    width: 100%;
}

#voting-history {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 60ex;
  overflow: scroll;
}

#nav-form {
  display: inline;
}

#our-team {
  margin: auto;
  width: 90%;
}

#registered {
  border: 20px solid gray;
  width: 30%;
  margin: auto;
  margin-bottom: -3em;
  margin-top: .4em;
  background-color: lightgray;
  padding: 1em;
}

#registered a {
  color: black;
}

#registered a:hover {
  color: rgb(146, 77, 77);
}

#funding {
  margin: 0;
  min-height: 15.5em;
}

#details-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1em;
}

#details-deck div {
  margin-top: 1em;
}

#voting-history {
  border: 2px solid gray;
}

#voting-history p {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.personal-bio {
  border: 2px solid;
  height: 22em;
  float: left;
  margin-top: 1em;
  margin: 1em;
  padding: 1em;
  width: 26%;
}

.personal-bio img {
  float: left;
  padding-right: 1em;
  width: 50%;
}

.page-header {
  padding: 1em;
}